.header_bg {
  background-image: url("../image/topMagik.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.header__title {
  color: #FFF;
  font-family: "El Messiri";
  font-size: 65px;
  font-weight: 700;
  line-height: 95px;
  padding-top: 205px;
}
.header__text {
  max-width: 639px;
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 40px;
}
.header__text-bolt {
  color: #FFF;
  font-size: 25px;
  font-weight: 700;
}
.header__btn {
  cursor: pointer;
  padding: 18px 84px;
  color: #FFF;
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px;
  background: linear-gradient(90deg, #439CFB 7.15%, #F187FB 105.21%);
  transition: all 0.3s ease-in;
  border: none;
  text-decoration: none;
}
.header__btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 2px #439CFB;
}

@media (max-width: 1024px) {
  .header__title {
    font-size: 56px;
    line-height: 85px;
    padding-top: 165px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 40px;
    line-height: 65px;
    padding-top: 150px;
  }
  .header__text {
    font-size: 20px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__title {
    text-align: center;
    font-size: 26px;
    line-height: 50px;
    padding-top: 100px;
  }
  .header__text {
    text-align: center;
    font-size: 16px;
  }
  .header__text-bolt {
    font-size: 20px;
  }
  .btn {
    padding: 16px 50px;
  }
}
.description {
  padding-top: 150px;
  padding-bottom: 150px;
}
.description__top {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  gap: 80px;
}
.description__top-left {
  padding: 40px 0px 0px 40px;
}
.description__top-right {
  padding: 40px 40px 0px 0px;
}
.description__top-plug {
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #D9D9D9;
}
.description__top-text {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 40px;
}

.videotour__box {
  padding-bottom: 150px;
  display: flex;
  gap: 40px;
}
.videotour__left-plug {
  width: 450px;
  height: 280px;
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
}
.videotour__left-img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.videotour__right-title {
  color: #323232;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 44px;
}
.videotour__right-text {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.community {
  padding-bottom: 150px;
}
.community__box {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
.community__box-left {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.community__box-left-title {
  color: #323232;
  font-size: 35px;
  font-weight: 700;
}
.community__box-left-text {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 40px;
}
.community__box-button {
  display: flex;
  text-align: center;
}
.community__box-btn {
  cursor: pointer;
  padding: 18px 84px;
  color: #FFF;
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px;
  background: linear-gradient(90deg, #439CFB 7.15%, #F187FB 105.21%);
  transition: all 0.3s ease-in;
  border: none;
  text-decoration: none;
}
.community__box-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 2px #439CFB;
}
.community__box-right {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 47%;
}
.community__box-right-top {
  display: flex;
  gap: 20px;
}
.community__box-right-middle {
  display: flex;
  gap: 20px;
}
.community__box-right-bottom {
  display: flex;
  gap: 20px;
}
.community__box-right img {
  max-width: 47%;
}

.desc {
  padding-bottom: 150px;
}
.desc__details {
  border-bottom: 1px solid #323232;
  padding: 20px 0px 20px 0px;
}
.desc__details:hover {
  cursor: pointer;
}
.desc__details[open] .desc__summary_activ {
  transform: rotate(180deg);
}
.desc__title {
  color: #323232;
  font-size: 40px;
  font-weight: 700;
}
.desc__summary {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  list-style-type: none;
}
.desc__summary-box {
  display: flex;
  justify-content: space-between;
}
.desc__details-text {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  padding-top: 20px;
}

.record {
  padding-bottom: 120px;
}
.record__title {
  color: #323232;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
}
.record__content {
  display: flex;
  gap: 75px;
}
.record__content-img {
  width: 48%;
}
.record__content-img img {
  width: 100%;
}
.record__content-box {
  width: 48%;
}
.record__content-box span {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.record__text {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 30px;
}
.record__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.record__input {
  background: transparent;
  padding: 20px 30px;
  border-radius: 15px;
  border: 1px solid #404040;
  text-align: center;
}
.record__button {
  padding: 18px 30px;
  border-radius: 15px;
  background: linear-gradient(90deg, #439CFB 7.15%, #F187FB 105.21%);
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  border: none;
  text-align: center;
  transition: all 0.3s ease;
}
.record__button:hover {
  box-shadow: 0px 0px 5px 2px #439CFB;
}

@media (max-width: 768px) {
  .description__top {
    flex-direction: column;
    gap: 0px;
  }
  .description__top-left {
    padding: 10px;
  }
  .description__top-right {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description__top-plug {
    width: 60%;
  }
  .videotour__box {
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
  }
  .videotour__right {
    text-align: center;
  }
  .videotour__right-title {
    font-size: 36px;
  }
  .community__box {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .community__box-left {
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .community__box-right {
    width: 100%;
  }
  .desc__title {
    font-size: 34px;
  }
  .desc__summary {
    font-size: 16px;
  }
  .desc__details-text {
    font-size: 16px;
  }
  .record__title {
    font-size: 32px;
  }
  .record__content {
    flex-direction: column;
    align-items: center;
  }
  .record__content-img {
    width: 100%;
  }
  .record__content-box {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .description {
    padding: 100px 0px;
  }
  .description__top {
    text-align: center;
  }
  .description__top-text {
    font-size: 16px;
  }
  .description__top-plug {
    width: 100%;
  }
  .videotour {
    padding-bottom: 100px;
  }
  .videotour__right-title {
    font-size: 28px;
  }
  .videotour__right-text {
    font-size: 16px;
  }
  .videotour__left-plug {
    width: 280px;
  }
  .community {
    padding-bottom: 100px;
  }
  .community__box-left-title {
    font-size: 26px;
  }
  .community__box-left-text {
    font-size: 16px;
  }
  .community__box-btn {
    padding: 15px 60px;
  }
  .desc {
    padding-bottom: 100px;
  }
  .desc__title {
    font-size: 28px;
    text-align: center;
  }
  .desc__summary-box {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .record {
    padding-bottom: 100px;
  }
  .record__title {
    font-size: 28px;
  }
  .record__content-box {
    width: 80%;
    text-align: center;
  }
}
.swiper-content {
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}

.swiper-content__title {
  color: #323232;
  font-size: clamp(1rem, 0.235rem + 3.82vw, 2.625rem);
  font-weight: 700;
  width: 60%;
  padding-bottom: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 440px;
  background: transparent;
}

.swiper-slide img {
  display: block;
  width: 85%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: grab;
}
.swiper-slide img:active {
  cursor: grabbing;
}

.swiper-slide__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.swiper-slide__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
  align-items: center;
}

.swiper-slide__title {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
}

.swiper-slide__subtitle {
  color: #323232;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 65%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 32px !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: calc(var(--swiper-navigation-size) / 376 * 1) !important;
  transition: all 0.2s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}

@media (max-width: 627px) {
  .swiper-content {
    padding-top: 80px;
  }
  .swiper-content__title {
    font-size: 6vw;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 471px) {
  .swiper-slide__subtitle {
    width: 85%;
  }
  .swiper-content__title {
    font-size: 10vw;
    text-align: center;
  }
}
.footer__box {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
  text-align: center;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2;
  color: #323232;
}
.footer__right {
  margin-right: 50px;
}
.footer__text--bolt {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: #323232;
}
.footer__link {
  text-decoration: none;
  color: #323232;
}

@media (max-width: 768px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer__text {
    text-align: center;
    font-size: 20px;
  }
  .footer__right {
    margin-right: 0;
  }
  .footer__text--bolt {
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  background: linear-gradient(92deg, #DDD3DA 7.31%, #EDC7DA 40.26%, #DDD4DF 68.15%, #A7E3E7 98.27%);
}

.center {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}